*{
    padding:0;
	margin:0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.body{ 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(255, 255, 255);
}
/*header*/
.header__titulo{ 
    margin: 10px;
    padding: 10px;
    border: 0px;
    color: #525151 ;
    font-family:'Gaegu', cursive;
    font-size: 45px;
    text-align: center;
}
.header__subtitulo{ 
    margin: 0px;
    padding: 0px;
    border: 0px;
    color: #525151;
    font-family: 'Roboto mono', monospace;
    font-size: 18px;
    text-align: center;
}
.header{
    width: 100%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin: auto;
}
/*menu en todas las secciones*/
.menu{
    list-style: none;
    background: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding: 30px 50px 0px 0px;
}
.menu li a{
    text-decoration: none;
    color: black;
    padding: 22px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.menu li{
    display: inline-block;
    text-align: center;
    flex:auto
}
.menu li a:hover{
    background: #EAD5D7;
}
/*footer*/
.container-footer{
    background-color:#EAD5D7;
    color: black;
    display: flex;
    width: 100%;
    max-width: 1600px;
    height: 250px;
    margin: auto;
    justify-content: space-between;
    padding: 20px;
}
.column1{
    max-width: 500px;
    margin-left: 20px;
}
.column1 h1{
    font-size: 20px;
}
.column1 p{
    font-size: 14px;
    margin-top: 20px;
}
.column2{
    max-width: 500px;
    margin-right: 25px;
}
.column2 h1{
    font-size: 20px;
}
.column2 .row{
    margin-top: 20px;
    display: flex;
}
.row label{
    margin-top: 10px;
    margin-left: 25px;
}
.column3{
    max-width: 500px;
    margin-right: 25px;
}
.column3 h1{
    font-size: 20px;
    margin-left: 25px;
}
.row2{
    margin-top: 15px;
    margin-left: 25px;
    display: flex;
}
.row2 label{
    margin-left: 20px;
    max-width: 140px;
    margin-top: 10px;
}
/*iconos column3*/
.phone, .mail{
    font-size: 30px;
}
/*iconos column2*/
.facebook{
    font-size: 30px;
}
.instagram{
    font-size: 30px;
}
@media screen and (max-width:1100px){
    .container-footer{
        flex-wrap: wrap;
    }
    .column1{
        max-width: 100%;
    }
    .column2, .column3{
        margin-top: 40px;
    }
}
/*carousel en index*/
.carousel-inner{
    padding: 10px;
    width: 100%;
    max-width: 1500px;
    height: 700px;
    margin: auto;
}
/*estilos productos*/
.main-title{
    padding: 20px;
    text-align: center;
    font-size: 25px;
}  
.product__title{
    font-size: 18px;
}
/*grid en contenedor*/
.contenedor{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
}
.product{
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
.product__description{
    text-align: center;
}   
.product__icon{
    display: block;
    margin: auto;
} 
/*formulario en ventas x mayor*/
.main-ventas{
    background-color:#ffffff;
    height: 400px;
    width: 1300px;
    margin: auto;
    padding: 40px;
}
/*seccion ayuda*/
.contenedor-parrafo{
    color: black;
    margin: 40px;
    padding: 30px;
    text-align: left;
}
.titulo_cont{
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}
.parrafo_cont{
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}
.lista{
    font-size: 18px;
}
