.main-ventas{
    background-color:#ffffff;
    height: 400px;
    width: 1300px;
    margin: auto;
    padding: 40px;
}
.contenedor-parrafo{
    color: black;
    margin: 40px;
    padding: 30px;
    text-align: left;
}
.titulo_cont{
    font-size: 25px;
    margin: 15px;
    padding: 10px;
}
.parrafo_cont{
    font-size: 18px;
    margin: 10px;
    padding: 10px;
}
.lista{
    font-size: 18px;
}
